<!-- Interface parents -->
<p id="notice"><%= notice %></p>

<div class="container-fluid">
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="field">
<%= form_for @parent do |t| %>

  <p>
    <%= t.label "Civilité :" %>
    <%= t.select :civilite, %w{ M. Mme } %> <br> 
  </p>
  <p>
    <%= t.label "Nom :" %><br>
    <div class="row">
      <div class="col-md-6">
        <%= t.text_field :nom %>
      </div>
      <div class="col-md-6">
        <%= error_message_for @parent,:nom %>
      </div>
    </div>
  </p> 
  <p>
    <%= t.label "Prénom :" %><br>
    <div class="row">
      <div class="col-md-6">
        <%= t.text_field :prenom %>
      </div>
      <div class="col-md-6">
        <%= error_message_for @parent,:prenom %>
      </div>
    </div>
  </p> 
  <p>
    <%= t.label "Adresse :" %><br>
    <div class="row">
      <div class="col-md-6">
        <%= t.text_field :adresse %>
        <%= t.text_field :street_number %>
        <%= t.text_field :route %>
        <%= t.text_field :locality %>
        <%= t.text_field :administratrive_area_level_1 %>
        <%= t.text_field :postal_code %>
        <%= t.text_field :country %>
      <!--<%= t.hidden_field :adresse %>-->      
      </div>
      <div class="col-md-6">
        <%= error_message_for @parent,:adresse %>
      </div>
    </div>
  </p>
  <p>
    <%= t.label "Tél domicile :" %><br>
    <%= t.text_field :teldom %>
  </p>
  <p>
    <%= t.label "Tél portable de la Mère :" %><br>
    <div class="row">
      <div class="col-md-6">
        <%= t.text_field :telport1 %>
      </div>
      <div class="col-md-6">
        <%= error_message_for @parent,:telport1 %>
      </div>
    </div>
  </p>
  <p>
    <%= t.label "Tél portable du Père :" %><br>
    <div class="row">
      <div class="col-md-6">
        <%= t.text_field :telport2 %>
      </div>
      <div class="col-md-6">
        <%= error_message_for @parent,:telport2 %>
      </div>
    </div>
  </p>
  <p>
    <%= t.label "Tél professionnel de la Mère :" %><br>
    <%= t.text_field :telpro1 %>
  </p>
  <p>
    <%= t.label "Tél professionnel du Père :" %><br>
    <%= t.text_field :telpro2 %>
  </p>


  <h2 class="titre">Personne à prévenir en cas d'urgence</h2>
  <p>
    <%= t.label "Civilité :" %>
    <%= t.select :civilite2, %w{ M. Mme } %> <br> 
  </p>
  <p>
    <%= t.label "Nom :" %><br>
    <div class="row">
      <div class="col-md-6">
        <%= t.text_field :urgnom %>
      </div>
      <div class="col-md-6">
        <%= error_message_for @parent,:urgnom %>
      </div>
    </div>
  </p>  
  <p>
    <%= t.label "Prénom :" %><br>
    <div class="row">
      <div class="col-md-6">
        <%= t.text_field :urgprenom %>
      </div>
      <div class="col-md-6">
        <%= error_message_for @parent,:urgprenom %>
      </div>
    </div>
  </p>
  <p>
    <%= t.label "Adresse :" %><br>
    <%= t.text_field :urgadresse %>
    <%= t.text_field :urg_street_number %>
    <%= t.text_field :urg_route %>
    <%= t.text_field :urg_locality %>
    <%= t.text_field :urg_administratrive_area_level_1 %>
    <%= t.text_field :urg_postal_code %>
    <%= t.text_field :urg_country %>

  </p> 
  <p>
    <%= t.label "Tél portable urgence :" %><br>
    <div class="row">
      <div class="col-md-6">
        <%= t.text_field :urgtelport %>
      </div>
      <div class="col-md-6">
        <%= error_message_for @parent,:urgtelport %>
      </div>
    </div>
  </p>
  <p>
    <%= t.label "Tél domicile :" %><br>
    <div class="row">
      <div class="col-md-6">
        <%= t.text_field :urgteldom %>
      </div>
      <div class="col-md-6">
        <%= error_message_for @parent,:urgteldom %>
      </div>
    </div>
  </p>
  <p>
    <%= t.label "Tél professionnel :" %><br>
    <div class="row">
      <div class="col-md-6">
        <%= t.text_field :urgtelpro %>
      </div>
      <div class="col-md-6">
        <%= error_message_for @parent,:urgtelpro %>
      </div>
    </div>
  </p>


    <%= t.submit "Enregistrer", :class => "btn btn-info nav-btn" %>




<!--   <form role="form" class="form-horizontal">
            <fieldset>
               <div class="form-group">
                <label class="col-sm-4 control-label">Address</label>
                <div class="col-sm-8">
                  <input id="user_input_autocomplete_address" name="user_input_autocomplete_address"
                         class="form-control" placeholder="taper votre adresse...">
                </div>
              </div>
            </fieldset>

            <fieldset class="disabled">
              <div class="form-group">
                <label class="col-sm-4 control-label"><code>street_number</code></label>
                <div class="col-sm-8">
                  <input id="street_number" name="street_number" disabled="true" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label"><code>route</code></label>
                <div class="col-sm-8">
                  <input id="route" name="route" disabled="true" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label"><code>locality</code></label>
                <div class="col-sm-8">
                  <input id="locality" name="locality" disabled="true" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label"><code>administrative_area_level_1</code></label>
                <div class="col-sm-8">
                  <input id="administrative_area_level_1" name="administrative_area_level_1" disabled="true" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label"><code>postal_code</code></label>
                <div class="col-sm-8">
                  <input id="postal_code" name="postal_code" disabled="true" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label"><code>country</code></label>
                <div class="col-sm-8">
                  <input id="country" name="country" disabled="true" class="form-control">
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
 -->

    <!-- Include Google Maps JS API -->
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?libraries=places">
    </script>

    <!-- Custom JS code to bind to Autocomplete API -->
    <script type="text/javascript" src="autocomplete.js"></script>





     </div>
    </div>
  </div>
</div>
<% end %>