<!-- Interface parents -->
<p id="notice"><%= notice %></p>

<div class="container-fluid">
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="field">
<%= form_for @parent do |t| %>

  <p>
    <%= t.label "Civilité :" %>
    <%= t.select :civilite, %w{ M. Mme } %> <br> 
  </p>
  <p>
    <%= t.label "Nom :" %><br>
    <%= t.text_field :nom %>
    <%= error_message_for @parent,:nom %>
  </p> 
  <p>
    <%= t.label "Prénom :" %><br>
    <%= t.text_field :prenom %>
    <%= error_message_for @parent,:prenom %>
  </p> 
  <p>
    <%= t.label "Adresse :" %><br>
    <%= t.text_area :adresse %>
    <%= error_message_for @parent,:adresse %>
  </p>
  <p>
    <%= t.label "Tél domicile :" %><br>
    <%= t.text_field :teldom %>
    <%= error_message_for @parent,:teldom %>
  </p>
  <p>
    <%= t.label "Tél portable de la Mère :" %><br>
    <%= t.text_field :telport1 %>
    <%= error_message_for @parent,:telport1 %>
  </p>
  <p>
    <%= t.label "Tél portable du Père :" %><br>
    <%= t.text_field :telport2 %>
    <%= error_message_for @parent,:telport2 %>
  </p>
  <p>
    <%= t.label "Tél professionnel de la Mère :" %><br>
    <%= t.text_field :telpro1 %>
    <%= error_message_for @parent,:telpro1 %>
  </p>
  <p>
    <%= t.label "Tél professionnel du Père :" %><br>
    <%= t.text_field :telpro2 %>
    <%= error_message_for @parent,:telpro2 %>
  </p>


  <h2 class="titre">Personne à prévenir en cas d'urgence</h2>
  <p>
    <%= t.label "Civilité :" %>
    <%= t.select :civilite2, %w{ M. Mme } %> <br> 
  </p>
  <p>
    <%= t.label "Nom :" %><br>
    <%= t.text_field :urgnom %>
    <%= error_message_for @parent,:urgnom %>
  </p>  
  <p>
    <%= t.label "Prénom :" %><br>
    <%= t.text_field :urgprenom %>
    <%= error_message_for @parent,:urgprenom %>
  </p>
  <p>
    <%= t.label "Adresse :" %><br>
    <%= t.text_area :urgadresse %>
    <%= error_message_for @parent,:urgadresse %>
  </p> 
  <p>
    <%= t.label "Tél portable urgence :" %><br>
    <%= t.text_field :urgtelport %>
    <%= error_message_for @parent,:urgteport %>
  </p>
  <p>
    <%= t.label "Tél domicile :" %><br>
    <%= t.text_field :urgteldom %>
    <%= error_message_for @parent,:urgteldom %>
  </p>
  <p>
    <%= t.label "Tél professionnel :" %><br>
    <%= t.text_field :urgtelpro %>
    <%= error_message_for @parent,:urgtelpro %>
  </p>

  <li>
  <div class="control-group">
    <%= label_tag :search, "Search For Address" %>
    <%= text_field_tag :location_search, nil, class: "span12 search-query", type: "search" %>
  </div>
  <%= render partial: "googlemap" %>
  
  </li>
    <%= t.submit "Enregistrer", :class => "btn btn-info nav-btn" %>
     </div>
    </div>
  </div>
</div>
<% end %>