<!-- Interface parents -->

<div class="container-fluid">
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="field">
<%= form_for @parent do |t| %>
  <p>
    <%= t.label "Nom :" %><br>
    <%= t.text_field :nom %>
  </p>
 
  <p>
    <%= t.label "Prénom :" %><br>
    <%= t.text_field :prenom %>
  </p>
 
  <p>
    <%= t.label "Adresse :" %><br>
    <%= t.text_area :adresse %>
  </p>

  <p>
    <%= t.label "Tél domicile :" %><br>
    <%= t.text_field :teldom %>
  </p>

  <p>
    <%= t.label "Tél pro :" %><br>
    <%= t.text_field :telpro %>
  </p>

  <h2 class="titre">Personne à prévenir en cas d'urgence</h2>

  <p>
    <%= t.label "Nom :" %><br>
    <%= t.text_field :urgnom %>
  </p>
  
  <p>
    <%= t.label "Prénom :" %><br>
    <%= t.text_field :urgprenom %>
  </p>

  <p>
    <%= t.label "Adresse :" %><br>
    <%= t.text_area :urgadresse %>
  </p>

  <p>
    <%= t.label "Tél domicile :" %><br>
    <%= t.text_field :urgteldom %>
  </p>

  <p>
    <%= t.label "Tél pro :" %><br>
    <%= t.text_field :urgtelpro %>
  </p>
  
  <%= t.submit "Enregistrer", :class => "btn btn-success nav-btn" %>
     </div>
    </div>
  </div>
</div>
<% end %>