<!-- Interface parents -->
<p id="notice"><%= notice %></p>

<div class="container-fluid">
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="field">
<%= form_for @parent do |t| %>

  <p>
    <%= t.label "Civilité :" %>
    <%= t.select :civilite, %w{ M. Mme } %> <br> 
  </p>
  <p>
    <%= t.label "Nom :" %><br>
    <div class="row">
      <div class="col-md-6">
        <%= t.text_field :nom, :placeholder => "Obligatoire" %>
      </div>
      <div class="col-md-6">
        <%= error_message_for @parent,:nom %>
      </div>
    </div>
  </p> 
  <p>
    <%= t.label "Prénom :" %><br>
    <div class="row">
      <div class="col-md-6">
        <%= t.text_field :prenom, :placeholder => "Obligatoire"%>
      </div>
      <div class="col-md-6">
        <%= error_message_for @parent,:prenom %>
      </div>
    </div>
  </p> 
  <p>
    <%= t.label "Adresse :" %><br>
    <div class="row">
      <div class="col-md-6">
        <%= t.text_field :adresse %>    
      </div>
      <div class="col-md-6">
        <%= error_message_for @parent,:adresse %>
      </div>
    </div>
  </p>
  <p>
    <%= t.label "Tél 1:" %><br>
    <div class="row">
      <div class="col-md-6">
        <%= t.text_field :tel1, :placeholder => "Obligatoire" %>
      </div>
      <div class="col-md-6">
        <%= error_message_for @parent,:tel1 %>
      </div>
    </div>
  </p>
  <p>
    <%= t.label "Tél 2:" %><br>
    <div class="row">
      <div class="col-md-6">
        <%= t.text_field :tel2, :placeholder => "Obligatoire" %>
      </div>
      <div class="col-md-6">
        <%= error_message_for @parent,:tel2 %>
      </div>
    </div>
  </p>
  <p>
    <%= t.label "Tél 3:" %><br>
    <div class="row">
      <div class="col-md-6">
        <%= t.text_field :tel3, :placeholder => "Obligatoire" %>
      </div>
      <div class="col-md-6">
        <%= error_message_for @parent,:tel3 %>
      </div>
    </div>
  </p>


  <h2 class="titre">Personne à prévenir en cas d'urgence</h2>
  <p>
    <%= t.label "Civilité :" %>
    <%= t.select :civilite2, %w{ M. Mme } %> <br> 
  </p>
  <p>
    <%= t.label "Nom :" %><br>
    <div class="row">
      <div class="col-md-6">
        <%= t.text_field :urgnom, :placeholder => "Obligatoire" %>
      </div>
      <div class="col-md-6">
        <%= error_message_for @parent,:urgnom %>
      </div>
    </div>
  </p>  
  <p>
    <%= t.label "Prénom :" %><br>
    <div class="row">
      <div class="col-md-6">
        <%= t.text_field :urgprenom, :placeholder => "Obligatoire" %>
      </div>
      <div class="col-md-6">
        <%= error_message_for @parent,:urgprenom %>
      </div>
    </div>
  </p>
  <p>
    <%= t.label "Adresse :" %><br>
    <%= t.text_field :urgadresse %>
  </p> 
  <p>
    <%= t.label "Tél d'urgence :" %><br>
    <div class="row">
      <div class="col-md-6">
        <%= t.text_field :urgtel, :placeholder => "Obligatoire" %>
      </div>
      <div class="col-md-6">
        <%= error_message_for @parent,:urgtel %>
      </div>
    </div>
  </p>



    <%= t.submit "Enregistrer", :class => "btn btn-info nav-btn" %>


    <!-- Include Google Maps JS API -->
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?libraries=places">
    </script>





     </div>
    </div>
  </div>
</div>
<% end %>