<div class="container-fluid">
  <h1 class="titre">Tableau de bord</h1>

  <h2 class="titre">Bonjour <%= @parent.prenom.capitalize %></h2>

  <% @enfants.each do |enfant| %>
    <div class="col row col-md-6 col-md-offset-3">
      <h3 colspan="2" class="titre">Liste des enfants</h3>
        <table class="table table-bordered table-striped table-condensed">

          <tr>
            <th>Sexe</th>
            <td><%= enfant.sexe %></td>
          </tr>
          <tr>
            <th>Prénom</th>
            <td><%= enfant.prenomenfant.capitalize %></td>
          </tr>
          <tr>
            <th>Nom</th>
            <td><%= enfant.nomenfant.capitalize %></td>
          </tr>

          <tr>
            <th>Date de naissance</th>
            <td><%= enfant.birthday.strftime("%d/%m/%Y") %></td>
          </tr>
          <tr>
            <th>École</th>
            <td><%= enfant.classe.ecole.nom %></td>
          </tr>
          <tr> 
            <th>Classe</th>
            <td><%= enfant.classe.nom %></td>            
          </tr>
          </th>
        </table>
    </div>
</div>
  <!--ajouter un enfant-->
<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-2"><%= button_to "Modifier les informations",  edit_enfant_path(enfant.id), :class => "btn btn-info", :method => :get %>
    </div>   
    <div class="col-md-2 col-md-offset-1"><%= button_to "Ajouter un enfant",  new_enfant_path, :class => "btn btn-info", :method => :get %>
    </div>    
    <div class="col-md-2 col-md-offset-1"><%= link_to "Titre de transport(PDF)",  enfant_path(enfant.id, format:"pdf"), :class => "btn btn-info" %>
    </div>
  </div>
</div>

<% end %>

<div class="container-fluid">
  <div class="col row col-md-6 col-md-offset-3">
    <h3 colspan="2" class="titre"> Coordonnées de <%= @parent.civilite %> <%= @parent.prenom.capitalize %> <%= @parent.nom.capitalize %>
    </h3>
    <table class="table table-bordered table-striped table-condensed">
      
      <tr>
        <th>Nom</th>
        <td><%= @parent.nom.capitalize %></td>
      </tr>
      <tr>
        <th>Prénom</th>
        <td><%= @parent.prenom.capitalize %></td>
      </tr>
      <tr>
        <th>Adresse</th>
        <td><%= @parent.adresse %></td>
      </tr>
      <tr>
        <th>Téléphone : <%= @parent.origine1 %></th>
        <td><%= @parent.tel1 %></td>
      </tr>
      <tr>
        <th>Téléphone : <%= @parent.origine2 %></th>
        <td><%= @parent.tel2 %></td>
      </tr>
      <tr>
        <th>Téléphone : <%= @parent.origine3 %></th>
        <td><%= @parent.tel3%></td>
      </tr>
    </table>
  </div>
</div>
        

<div class="row">
  <div class="col-md-2 col-md-offset-5"><%= button_to "Modifier les coordonnées", edit_parent_path(@parent.id), :class => "btn btn-info", :method => :get %>
  </div>
</div>
       
<div class="container-fluid">
  <div class="col row col-md-6 col-md-offset-3">
    <h3 colspan="2" class="titre">Personne à prévenir en cas d'urgence <%= @parent.civilite2 %> <%= @parent.urgprenom.capitalize %> <%= @parent.urgnom.capitalize %>
    </h3>
    <table class="table table-bordered table-striped table-condensed">
      <tr>
        <th>Nom</th>
        <td><%= @parent.urgnom.capitalize %></td>
      </tr>
      <tr>
        <th>Prénom</th>
        <td><%= @parent.urgprenom.capitalize %></td>
      </tr>
      <tr>
        <th>Adresse</th>
        <td><%= @parent.urgadresse %></td>
      </tr>
      <tr>
        <th>Téléphone d'urgence</th>
        <td><%= @parent.urgtel %></td>
      </tr>
    </table>
  </div>
</div>        

<div class="row">
  <div class="col-md-2 col-md-offset-5"><%= button_to "Modifier les coordonnées", edit_parent_path(@parent.id), :class => "btn btn-info", :method => :get %>
  </div>
</div>