<h1 class="titre">Tableau de bord</h1>

<h2 class="titre">Bonjour <%= @parent.prenom %></h2>



<% @enfants.each do |enfant| %>
  <div class="container-fluid">
    <div class="col row col-md-6 col-md-offset-3">
      <h3 colspan="2" class="titre">Liste des enfants</h3>
        <table class="table table-bordered table-striped table-condensed">

          <tr>
            <th>Prénom</th>
            <td><%= enfant.prenomenfant %></td>
          </tr>
          <tr>
            <th>Nom</th>
            <td><%= enfant.nomenfant  %></td>
          </tr>

          <tr>
            <th>Date de naissance</th>
            <td><%= enfant.datenaissance %></td>
          </tr>
          <tr>
            <th>École</th>
            <td><%= enfant.ecole  %></td>
          </tr>
          <tr> 
            <th>Classe</th>
            <td><%= enfant.classe %></td>            
          </tr>
          </th>
        </table>
    </div>
  </div>
  <!--ajouter un enfant-->

<div class="row">
  <div class="col-md-2 col-md-offset-5"><%= button_to "Modifier les informations",  edit_enfant_path(enfant.id), :class => "btn btn-info", :method => :get %>
  </div>   
</div>

<% end %>

  <div class="container-fluid">
    <div class="col row col-md-6 col-md-offset-3">
      <h3 colspan="2" class="titre"> Coordonnées de <%= @parent.civilite %> <%= @parent.prenom %> <%= @parent.nom %></h3>
      <table class="table table-bordered table-striped table-condensed">
        
        <tr>
          <th>Nom</th>
          <td><%= @parent.nom %></td>
        </tr>
        <tr>
          <th>Prénom</th>
          <td><%= @parent.prenom %></td>
        </tr>
        <tr>
          <th>Adresse</th>
          <td><%= @parent.adresse %></td>
        </tr>
        <tr>
          <th>Téléphone Domicile</th>
          <td><%= @parent.teldom %></td>
        </tr>
        <tr>
          <th>Téléphone portable de la mère</th>
          <td><%= @parent.telport1 %></td>
        </tr>
        <tr>
          <th>Téléphone portable du père</th>
          <td><%= @parent.telport1 %></td>
        </tr>
        <tr>
          <th>Téléphone professionnel de la mère</th>
          <td><%= @parent.telpro1 %></td>
        </tr>
        <tr>
          <th>Téléphone professionnel du père</th>
          <td><%= @parent.telpro2 %></td>
        </tr>
      </table>
    </div>
  </div>
        

<div class="row">
  <div class="col-md-2 col-md-offset-5"><%= button_to "Modifier les coordonnées", edit_parent_path(@parent.id), :class => "btn btn-info", :method => :get %>
  </div>
</div>
       
<div class="container-fluid">
  <div class="col row col-md-6 col-md-offset-3">
    <h3 colspan="2" class="titre">Personne à prévenir en cas d'urgence <%= @parent.civilite2 %> <%= @parent.urgprenom %> <%= @parent.urgnom %></h3>
      <table class="table table-bordered table-striped table-condensed">
        <tr>
          <th>Nom</th>
          <td><%= @parent.urgnom %></td>
        </tr>
        <tr>
          <th>Prénom</th>
          <td><%= @parent.urgprenom %></td>
        </tr>
        <tr>
          <th>Téléphone portable</th>
          <td><%= @parent.urgtelport %></td>
        </tr>
        <tr>
          <th>Téléphone domicile</th>
          <td><%= @parent.urgteldom %></td>
        </tr>        
        <tr>
          <th>Téléphone professionnel</th>
          <td><%= @parent.urgtelpro %></td>
        </tr>
      </table>
    </div>
  </div>        

<div class="row">
  <div class="col-md-2 col-md-offset-5"><%= button_to "Modifier les coordonnées", edit_parent_path(@parent.id), :class => "btn btn-info", :method => :get %>
  </div>
</div>