<!DOCTYPE html>
<html lang="fr-FR">
<head>
  <title>Busonrails</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
         <h1 class="titlenav col-md-5">BUSONRAILS</h1> 
        </ul>
        
        <div class="email col-md-3 col-md-offset-3"><%= current_user.email %></div>

      
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="nav-btn"><%= button_to 'Déconnexion', user_session_path(current_user.id), :class => "btn btn-info", :method => :delete %>
        <% if current_user.parent && current_user.parent.id %></li>
        <li class="nav-btn"><%= button_to "Dashboard", parent_path(current_user.parent.id), :method => :get,:class => "btn btn-info"  %></li>
        <% end %>  
        <% else %>      
          <% if controller_name != 'inscription' %>
          <li><%= button_to "Créer un compte", new_user_path, :class => "btn btn-info nav-btn", :method => :get %> </li>
          <% end %>
        
        <li><%= button_to "Se connecter", new_user_session_path, :class => "btn btn-info nav-btn", :method => :get  %></li> 
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
 
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
  
<%= yield %>

</body>
</html>